<div class="todo-container">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" />
      <input
        type="text"
        [(ngModel)]="item.taskName"
        [ngClass]="{ checked: item.checked }"
        (keyup)="validation(item.taskName, i)"
      />

      <button (click)="deleteItem(i)">
        <img src="assets/Vector.svg" alt="" />
      </button>
    </li>
  </ul>

  <div *ngIf="!taskList.length" class="loading">
    <img src="assets/tasks.png" alt="" />
    <p>Sem tasks por enquanto, adicione uma nova!</p>
  </div>
</div>

<app-input-add-items
  (emmitItem)="setEmmitedTaskItem($event)"
></app-input-add-items>
<app-button-delete-all
  *ngIf="taskList.length"
  (click)="deleteAll()"
></app-button-delete-all>
